@model IEnumerable<BookingSystem3.Models.Booking>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bookinger</h2>

<table class="booking table" style="width:100%">
    <tr>
        <th>Dato</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Repræsentant</th>
        <th>Betalingsstatus</th>
        <th>Emne</th>
        <th>Ansat</th>
        <th>Firma</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(Booking booking in Model)
    {
        <tr>
            <td>@booking.date.ToString("dd-MM-yyyy")</td>
            <td>@booking.startTime.ToString("HH:mm")</td>
            <td>@booking.startTime.AddMinutes(booking.duration).ToString("HH:mm") </td>
            <td>@booking.creater.UserName</td>
            <td>@booking.status.ToString()</td>
            <td>@booking.topic</td>
            <td>[AnsatNavn]</td>
            <td>@booking.creater.Company</td>
            <td><a class="button" href="/Admin/EditBooking/@booking.bookingID">Læs mere</a></td>
            <td><a class="button" href="/Admin/DeleteBooking/@booking.bookingID">Slet</a></td>
        </tr>
    }
</table>