@model BookingSystem3.Models.Customer
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rediger bruger</h2>


<style>
    form {
        padding-left: 5%;
    }

    table input, table select, table textarea {
        width: 100%;
    }
</style>

<form method="post">
    <table>
        <tr>
            <td><label >BrugerID</label></td>
            <td><input asp-for="customerID" type="text"  value="@Model.customerID"/></td>
        </tr>
        <tr>
            <td><label >Navn</label></td>
            <td><input asp-for="name" type="text" value="@Model.name"/></td>
        </tr>
        <tr>
            <td><label >Email</label></td>
            <td><input asp-for="email" type="email" value="@Model.email"/></td>
        </tr>
        <tr>
            <td><label>Tlf</label></td>
            <td><input type="tel" /></td>
        </tr>
        <tr>
            <td><label >Fakturerings oplysninger</label></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><label>Firma</label></td>
            <td><input asp-for="company" type="text" value="@Model.company"/></td>
        </tr>
        <tr>
            <td><label>Rettigheder</label></td>
            <td>
                <select asp-for="userCredentials" typeof="text" value="@Model.userCredentials" form="userCredentials">
                    <option value="Godkendt">Godkendt</option>
                    <option value="IkkeGodkendt">Ikke godkendt</option>
                    <option value="Ansat">Ansat</option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" class="submit" title="tilføj" />
</form>