@model IEnumerable<BookingSystem3.Models.TimeSlot>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tider</h2>

<table class="tider table" style="width:100%">
    <tr>
        <th>Dato</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Pris</th>
        <th>Tilbuds Pris</th>

    </tr>
    @foreach(TimeSlot timeslot in Model)
    {
        <tr>
            <td>@timeslot.date.ToString()</td>
            <td>@timeslot.start.ToString()</td>
            <td>@timeslot.end.ToString()</td>
            <td>@timeslot.standardPrice.ToString()</td>
            <td>@timeslot.specialPrice.ToString()</td>
        </tr>
    }
</table>
<a asp-controller="Admin" asp-action="AddTid">Tilføj tid</a>